<style>
.elem {cursor: pointer;} 
.elem, .link {opacity: 0.3;}
.elem.selected, .link.selected {opacity: 1;}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
      text-transform: none;
}

</style>
